@import "../../../../assets/variable";
@import "../../../../assets/modules/task-btn";

.today-shopping-list-area {

  &__add-button {
    margin: 20px 0;
  }

  &__switch-item {
    background-color: #F4F5F7;
    border-radius: 0.6rem;
    padding: 25px 0;
    height: auto;

    &--width {
      width: 60%;
      margin: auto;
    }
  }
}