@import "src/assets/variable";

.daily-history {

  display: table;
  margin: 0 auto;
  height: auto;

  &__spacer {
    margin-top: 50px;
  }

  &__th {
    align-self: center;
    background-color: $main_color;
    border: solid 1px $border_color;
    font-weight: $large-font_weight;
    font-size: $medium-font_size;
    height: 40px;
    width: 150px;
    max-width: 100%;
  }

  &__background {
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
    height: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 90%;
    padding: 16px;
  }

  &__td {
    border: solid 1px $border_color;
    border-collapse: collapse;
    empty-cells: show;
    text-align: center;
    margin: 0 auto;
  }
}
