@import "src/assets/variable";
@import "../mixin/search-btn";
@import "../modules/input-years";

.daily-history {

  border-collapse: collapse;
  margin: 0 auto;
  height: auto;

   &__spacer{
     height: 30px;
     display: block;
     width: 100%;
   }

  &__years {
    padding-left: 20px;
  }

  &__search-btn-position {
    margin: 0 auto;
  }


  &__th {
    align-self: center;
    background-color: $main_color;
    border: solid 1px $border_color;
    font-weight: $large-font_weight;
    font-size: $medium-font_size;
    height: 40px;
    width: 150px;
    max-width: 100%;
  }

  &__background {
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
    height: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 90%;
    padding: 16px;
  }

  &__search-position {
    display: flex;
    flex-wrap: wrap;
  }

  &__form-label {
    font-size: $small-font-size;
    display: block;
  }

  &__input-form {
    font-size: $middle-font-size;
    margin-left: 30px;
    height: 25px;
    width: 180px;
  }

  &__select {
    cursor: pointer;
    font-size: $middle-font-size;
    height: 30px;
    margin: 0 auto;
    width: 180px;
  }

  &__td {
    border: solid 1px $border_color;
    border-collapse: collapse;
    empty-cells: show;
    text-align: center;
    margin: 0 auto;
  }

  &__search-btn {
    @include search-btn($main_color);
  }
}
