@import "../../assets/variable";
@import "./budget";

.yearly-budgets {

  &__yearly-table-position {
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  &__background {
    background-color: white;
    box-shadow: $section-box_shadow;
    border-radius: 5px;
    box-sizing: border-box;
    height: auto;
    margin: 40px auto;
    width: 100%;
    padding: 20px;

    &__table {
      border: 1px solid $color-iron;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      margin: 0 auto;
    }

  }

  &__select-year {
    text-align: center;
  }

  &__switch-tabs {
    width: 30%;
  }

  &__child-select-years {
    width: 35%;
  }
}