@import "../../../../../assets/variable";
@import "../../../../../assets/mixin/operation-btn";
@import "../../../../../assets/mixin/icon-btn";

.todo-list-item-form {
  background-color: white;
  border-radius: 0.6rem;
  padding: 10px 0;

  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: $color-geyser solid 1px;
    padding: 0 10px 10px 10px;

    &--text {
      font-size: $task-title-font_size;
      font-weight: bold;
      color: $color-lynch;
      margin: 0;
    }

    &--close-btn {
      @include icon-btn($color-lynch, $color-geyser, $color-lynch, 0.8rem, 0.5);
    }
  }

  &__items {
    margin: 15px 20px;
  }

  &__text-input {
    margin-bottom: 20px;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 5px;

    &--save {
      @include operation-btn($color-sushi, white, $color-sushi);
    }

    &--cancel {
      @include operation-btn(white, $color-lynch,$color-geyser);
      margin: 0 0 0 10px;
    }
  }
}