@import "../../../../../assets/variable";
@import "../../../../../assets/mixin/operation-btn";
@import "../../../../../assets/mixin/icon-btn";

.todo-list-item-form {
  background-color: white;
  border-radius: 0.6rem;
  padding: 10px 0;

  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: $task-border_color solid 1px;
    padding: 0 10px 10px 10px;

    &--text {
      font-size: $task-title-font_size;
      font-weight: bold;
      color: $task-main_color;
      margin: 0;
    }

    &--close-btn {
      @include icon-btn($task-main_color, $task-border_color, $task-main_color, 0.8rem, 0.5);
    }
  }

  &__items {
    width: 75%;
    margin: 15px auto 20px 15px;
  }

  &__text-input {
    margin-bottom: 20px;
  }

  &__date {
    display: flex;

    &--home-page {
      display: block;
    }
  }

  &__date-picker {

    &:last-child {
      margin-left: 20px;
    }

    &--home-page {
      margin-bottom: 20px;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 5px;

    &--save {
      @include operation-btn($task-add-color, white, $task-add-color);
    }

    &--cancel {
      @include operation-btn(white, $task-main_color,$task-border_color);
      margin: 0 0 0 10px;
    }
  }
}