@import "../../../../../../assets/mixin/icon-btn";
@import "../../../../../../assets/mixin/operation-btn";

.textInput {
  margin: 0 20px 25px;
}

.operationBtn {
  display: flex;
  margin: 0 20px;

  &__add {
    @include operation-btn($color-sushi, white, $color-sushi);
  }

  &__cancel {
    @include operation-btn(white, $color-scorpion,$color-geyser);
    margin: 0 0 0 10px;
  }
}