@import "../../../../assets/mixin/icon-btn";
@import "../../../../assets/mixin/operation-btn";

.notificationItem {
  color: $color-tundora;
  letter-spacing: 0.08rem;
  font-size: 0.8rem;
  padding: 16px 10px;
  cursor: pointer;
  border-bottom: 1px solid $color-mercury;

  > span {
    color: $color-mariner;
  }

  &:last-child {
    border-bottom: none
  }

  &:hover {
    background-color: $color-blackSqueeze;
  }
}

.modalMessage {
  color: $color-tundora;
  letter-spacing: 0.08rem;
  margin: 0 0 30px 20px;

  > span {
    color: $color-mariner;
    font-weight: 500;
  }
}

.operationBtn {
  display: flex;
  margin: 0 20px;

  &__add {
    @include operation-btn($color-sushi, white, $color-sushi);
  }

  &__cancel {
    @include operation-btn(white, $color-scorpion,$color-geyser);
    margin: 0 0 0 10px;
  }
}