@import "../../../../../assets/modules/task-btn";

.addButton {
  margin: 20px 0;
}

.switchItem {
  border-radius: 0.6rem;
  padding: 25px 0 20px;
  height: auto;

  &__width {
    width: 60%;
    margin: auto;
  }
}

.childTabsBtn {
  margin-bottom: 30px;
}
