@import "../../../assets/variable";

.input-form {
  background: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  height: auto;
  padding: 0.9rem;
  width: 100%;
  box-shadow: $section-box_shadow;

  &__column {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__sub-heading {
    color: #7c7c7c;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 4px;
  }

  &__message {
    color: $color-flamingo;
    text-align: center;
    padding-bottom: 10px;

    &--small {
      font-size: 0.9rem;
    }
  }

  &__form-content{
    width: 270px;

    &--spacer-small {
      margin-bottom: 12px;
    }

    &--spacer-medium {
      margin-bottom: 18px;
    }
  }

  &__select-category {
    width: 270px;
  }

}