@import "../../../../../assets/variable";
@import "../../../../../assets/mixin/icon-btn";

.regular-shopping-list-item-component {

  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    color: #253b66;
  }

  &__purchase {
    width: calc((100% - 72px) * 0.85);
    margin-left: 5px;
  }

  &__amount {

    &--value {
      width: 90px;
      text-align: right;
      padding-right: 10px;
    }

    &--unit {
      color: #333;
    }
  }
}