@import "../../../../../../../assets/variable";

.taskName{
  color: $color-denim;
  width: calc(100%/8);
  cursor: pointer;

  > span {
    display: inline-block;
    margin-top: 0.5rem;
  }

  &:hover {
    background-color: $color-tropicalBlue;
  }
}