@import "../../../../../../../assets/variable";

.modalWrapper {
  width: 400px;
  margin: 20px auto auto auto;
  outline: none;
}

.taskName{
  color: $color-denim;
  width: calc(100%/8);
  cursor: pointer;

  > span {
    display: inline-block;
    margin-top: 0.5rem;
  }

  &:hover {
    background-color: $color-tropicalBlue;
  }
}