@import "../../../../../../assets/variable";

.edit-assignment-task-modal {

  &__task-name{
    color: $task-sub_color;
    border-left: #F4F5F7 solid 2.5px;
    width: calc(100%/8);
    height: 40px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
      background-color: $task-table-bg-color;
    }
  }
}