@import "../variable";

@mixin check-box ($checked-color) {
  display: inline-block;
  position: relative;
  color: #333;
  margin: 0 0 22px 0;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;

  > input {
    display: none;
  }

  > span {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: solid 2px #d4dae2;
    border-radius: 4px;
    box-sizing: border-box;
  }

  > input:checked + span {
    background: $checked-color;
    border-color: $checked-color;

    &::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 1px;
      width: 6px;
      height: 10px;
      border: solid #FFF;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 1.0;
    }
  }
}