@import "../variable";

@mixin icon-btn ($icon-btn_color, $icon-btn-hover_bg-color, $icon-btn-hover_color, $icon-btn-hover_border-radius, $icon-btn-hover_opacity){
  width: 1em;
  height: 1em;
  background-color: rgba(0,0,0,0);
  color: $icon-btn_color;
  border: none;
  padding: 0;
  font-size: 1.5rem;
  flex-shrink: 0;
  cursor: pointer;


  &:hover{
    background-color: $icon-btn-hover_bg-color;
    color: $icon-btn-hover_color;
    border-radius: $icon-btn-hover_border-radius;
    opacity: $icon-btn-hover_opacity;
  }

  &:focus {
    outline: none;
  }
}