@import "../variable";

@mixin jump-years($jump-years-btn-bg-color ) {
  background-color: $jump-years-btn-bg-color;
  border-collapse: collapse;
  border: 2px solid $task-border_color;
  cursor: pointer;
  font-size: $large-font_size;
  height: 45px;
  width: 100%;


  &:focus{
    outline: none;
  }

}