@import "../../../../assets/variable";

.task-table-area {

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__list-for-user {
    display: flex;
    width: 100%;
    background-color: white;
    border-top: #F4F5F7 solid 2.5px;
    align-items: center;
    height: 40px;


    &:last-child {
      border-bottom: #F4F5F7 solid 2.5px;
    }
  }

  &__assign-task {
    display: flex;
  }

  &__assign-task-item {
    width: calc(100%/8);
  }
}