@import "../../../../../../assets/variable";
@import "../../../../../../assets/mixin/icon-btn";

.edit-regular-shopping-list-item-modal {
  width: 550px;
  margin: 20px auto auto auto;
  background-color: white;
  outline: none;

  &__edit-icon {
    @include icon-btn($color-lynch, $color-mariner, white, 0.2rem, 1.0);
    padding: 3px;
    margin-left: 15px;
  }
}