@import "../../../assets/variable";

.shopping-list-page {
  width: 100%;
  display: flex;

  &__left {
    width: calc((100% - 60px) * 0.7);
    margin-left: 20px;
  }

  &__left-content {
    background-color: white;
    border-radius: 0.6rem;
    padding: 20px;
  }

  &__right {
    width: calc((100% - 60px) * 0.3);
    margin: 0 20px;
  }

  &__right-content {
    background-color: white;
    border-radius: 0.6rem;
    padding: 15px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    > h4 {
      color: $task-main_color;
      margin: 0 0 10px 0;
    }

    > div {
      background-color: $task-bg_color;
      border-radius: 0.6rem;
      padding: 10px;
    }

  }
}