@import "../../../../assets/variable";
@import "../../../../assets/mixin/icon-btn";
@import "../../../../assets/mixin/operation-btn";

.add-group-modal {
  width: 400px;
  background-color: white;
  margin: 20px auto auto;
  padding: 15px 0;
  outline: none;

  &__position {
    display: flex;
    border-bottom: $task-border_color solid 1px;
    justify-content: center;
    position: relative;
    padding: 0 0 10px 0;
    margin: 0 0 25px 0;

    > h3 {
      color: $task-main_color;
      font-size: $task-title-font_size;
      margin: 0;
    }

    > button {
      @include icon-btn($task-main_color, $task-border_color, $task-main_color, 0.8rem, 0.5);
      position: absolute;
      right: 0;
      margin: 0 20px 0 0;
    }

  }

  &__add-btn {
    display: flex;
    align-items: center;
    background-color: $task-sub_color;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    padding: 2px 15px 2px 10px;
    margin: 10px auto 5px;
    outline: none;

    &:hover {
      opacity: 0.9;
    }
  }

  &__btn {
    display: flex;
    margin: 0 15px 5px;

    &--add {
      @include operation-btn($task-add-color, white, $task-add-color);
    }

    &--cancel {
      @include operation-btn(white, $task-main_color,$task-border_color);
      margin-left: 10px;
    }
  }
}