@import "../variable";
@import "../mixin/icon-btn";

.search-field {
  width: 70%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 20px 0;
  margin: 0 auto;

  &__position {
    display: flex;
    border-bottom: $task-border_color solid 1px;
    justify-content: center;
    position: relative;
    padding: 0 0 10px 0;
    margin: 0 0 25px 0;
  }

  &__btn-position{
    @include icon-btn($task-main_color, $task-border_color, $task-main_color, 0.8rem, 0.5);
    font-size: 1.8rem;
    position: absolute;
    left: 0;
    margin: 0 0 0 20px;
  }

  &__title {
    color: $task-main_color;
    font-size: $task-title-font_size;
    margin: 0;
  }

  &__select-contents {
    display: flex;
    margin: 0 0 15px 0;
    &:last-child {
      margin: 0 0 30px 0;
    }

    &--key {
      width: 180px;
      color: $task-main_color;
      font-size: $task-title-font_size;
      font-weight: bold;
      margin: 0 0 0 20px;
    }
  }

  &__date-designation{
    display: flex;
    align-items: center;
  }

  &__search-btn {
    text-align: center;
    margin-bottom: 20px
  }
}