@import "../variable";
@import "../modules/task-btn";


.skip-month {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;

  &__display-date {
    @extend .task--btn;
    font-size: 1.2rem;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 5px 50px;

    &:hover {
      border-left: none;
      border-right: none;
    }
  }

  &__prev-btn {
    @extend .task--btn;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  &__next-btn {
    @extend .task--btn;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  &__today-btn {
    @extend .task--btn;
    height: 38px;
    position: absolute;
    right: 0;
  }
}