@import "../variable";
@import "../modules/task-btn";

.todo {
  width: 100%;
  display: flex;
  margin: 20px 20px 0 20px;

  &__today-list {
    width: calc(70% - 20px);
  }

  &__menu {
    display: flex;
    margin-bottom: 30px;
  }

  &__search {
    @extend .task--btn;
    height: 40px;
    margin-left: 20px;
  }

  &__today-date {
    display: inline-block;
    color: $task-main_color;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px 10px;
  }

  &__expired-list {
    width: calc(30% - 20px);
    margin-left: 20px;
  }
}