@import "src/assets/variable";

.recent-input {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &__recent-box {
    border: 1px solid #F4F5F7;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    width: 240px;
  }

  &__recent-text {
    font-size: $medium-font_size;
  }

  &__category-icon {
    display: inline-block;
    margin-right: 4px;
    width: 10px;
    height: 10px;
  }

  &__item-font {
    font-size: 14px;
    padding-right: 1rem;
  }

  &__border-spacer {
    display: block;
    height: 1px;
    width: 100%;
  }

}