@import "../../../../assets/variable";

.edit-group-name {
  width: 400px;
  border: 2px solid black;
  margin: 20px auto auto auto;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 16px 32px 24px;
}