@import "../../../../../assets/variable";
@import "../../../../../assets/mixin/operation-btn";
@import "../../../../../assets/mixin/icon-btn";

.input-task-name-form {
  background-color: white;
  border-radius: $task-border_radius;
  border: none;
  padding: 10px 0 15px;

  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: $task-border_color solid 1px;
    padding: 0 10px 10px 10px;

    &--text {
      font-size: $task-title-font_size;
      font-weight: bold;
      color: $task-main_color;
      margin: 0;
    }

    &--close-btn {
      @include icon-btn($task-main_color, $task-border_color, $task-main_color, 0.8rem, 0.5);
    }
  }

  &__text-input {
    margin: 20px 20px 25px;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    &--add {
      @include operation-btn($task-add-color, white, $task-add-color);
    }

    &--cancel {
      @include operation-btn(white, $task-main_color,$task-border_color);
      margin: 0 0 0 10px;
    }

    &--delete {
      @include operation-btn($danger-color, white,$danger-color);
    }
  }
}