@import "../../assets/variable";
@import "../../assets/modules/task-btn";

.todo {
  width: 100%;

  &__switch-page {
    display: flex;
    width: 40%;
    text-align: center;
    margin: 15px auto 70px 15%;
  }

  &__switch-page-button {
    background-color: $color-whiteLilac;
    border: none;
    color: #5D6B89;
    font-size: 0.9rem;
    margin-left: 70px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__current-page-button {
    border: none;
    background-color: $color-whiteLilac;
    color: #515C77;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 70px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:first-child {
      margin-left: 0;
    }

    > span {
      border-bottom: #F56E6B 3px solid;
      padding-bottom: 6px;
    }
  }
}