@import "../../../assets/variable";

.wrapper {
  background-color: white;
  border-radius: 0.6rem;
  padding: 10px;
  box-shadow: $section-box_shadow;
}

.title {
  color: $color-tundora;
  margin: 0 0 10px 0;
}

.content {
  background-color: white;
  border-radius: 0.6rem;
  padding: 15px 10px 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 6px rgba(44, 40, 40, 0.1);

  &:last-child {
    margin-bottom: 0;
  }

  > h4 {
    color: $color-scorpion;
    margin: 0 0 15px 0;
  }
}

.childTabsBtn {
  margin-bottom: 15px;
}
