@import "../variable";

.edit-task-list-for-user {

  &__task-name{
    color: $task-sub_color;
    border-left: #F4F5F7 solid 2.5px;
    width: calc(100%/8);
    height: 40px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
  }

  &__assign-task-btn {
    width: 100%;
    background-color: white;
    border: none;
    color: $task-border_color;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: $task-sub_color;
    }

    &:focus {
      outline: none;
    }
  }
}