@import "../variable.scss";
@import "../mixin/icon-btn";
@import "../mixin/operation-btn";

.operation-task-user-modal {

  &__position {
    display: flex;
    padding: 0 0 10px 0;
    margin: 0 0 30px 0;
    border-bottom: $task-border_color solid 1px;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    color: $task-main_color;
    font-size: $task-title-font_size;
  }

  &__icon-btn {
    @include icon-btn($task-main_color, $task-border_color, $task-main_color, 0.8rem, 0.5);
  }

  &__delete-btn {
    @include operation-btn($task-delete-color, white,$task-delete-color);
  }
}