@import "../variable";
@import "../mixin/icon-btn";

.task-list-item {
  width: 300px;
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;

  &__text {
    width: 100%;
    color: $task-main_color;
    font-size: 1.2rem;
    padding: 0 0 0 10px;
  }

  &__edit-icon {
    @include icon-btn($task-main_color, $task-sub_color, $white, 0.2rem, 1.0);
    padding: 3px;
  }
}