@import "../variable";
@import "../modules/task-btn";

.task-list-for-user {
  display: flex;
  width: 100%;
  background-color: $white;
  align-items: center;
  border: #F4F5F7 solid 2.0px;

  &__item{
    color: $task-sub_color;
    border-left: #F4F5F7 solid 2.5px;
    width: calc(100%/8);
    text-align: center;

    &:first-child {
      border-left: none;
    }
  }

  &__date {
    display: block;
    font-size: 0.8rem;
  }
}