@import "../variable";
@import "../modules/task-btn";

.task-list-for-user {
  &__item{
    color: $task-sub_color;
    border-left: #F4F5F7 solid 2.5px;
    width: calc(100%/8);
    height: 40px;
    text-align: center;
    vertical-align: middle;

    &:last-child {
      border-right: #F4F5F7 solid 2.5px;
    }
  }

  &__user-name {
    position: relative;
    display: inline-block;
    font-size: 1.0rem;
    border: $task-sub_color solid 1.5px;
    border-radius: 0.3rem;
    padding: 2.5px 50px;
  }

  &__blank {
    display: block;
  }
}