@import "../../../../../assets/variable";

.listByCategory {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItemByCategory {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.category {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.categoryColor {
  display: inline-block;
  width: 10px;
  height: 1.6rem;
  border-radius: 0.7rem;
}

.categoryName {
  color: $color-lynch;
  font-size: 1.3rem;
  margin: 0 0 0 10px;
}

.listByDate {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.date {
  color: $color-lynch;
  font-size: 1.0rem;
  margin: 0 0 20px 0;
}

.listItemByDate {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.shoppingList {
  list-style-type: none;
  padding: 0;

  > li {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.message {
  color: $color-lynch;
  font-size: 1.0rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.childPurchase {
  display: inline-block;
  width: calc((100% - 116px));
}

.childAmount {
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 10px;
}
