@import "../../assets/variable";
@import "../../components/modules/inputYears/InputYears.module";
@import "../../assets/mixin/switching-btn";
@import "../../assets/modules/task-btn";
@import "../../components/uikit/tabs/switchItemTabs/SwitchItemTabs.module";

.history{
  display: flex;

  &__position {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
  }

  &__spacer {
    height: 30px;
  }

  &__top-button {
    @extend .tabs;
    background-color: white;
  }

  &__switch-btn {
    @extend .tabs__btn;
    background-color: white;

  }

  &__switch-cr-btn {
    @extend .tabs__crBtn;
    background-color: $color-neonCarrot;;
  }

  &__selector {
    display: flex;
    min-width: 120px;
    width: 660px;
    background-color: white;
  }

  &__table-size {
    margin: 0 auto;
    width: 80%
  }

  &__prev-btn {
    @extend .task--btn;
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
    float: left;

    &:hover {
      border-right: none;
    }
  }

  &__next-btn {
    @extend .task--btn;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: none;
    float: right;

    &:hover {
      border-left: none;
    }
  }

  &__child-input-years-btn {
    background-color: white;

    &:hover{
      background-color: $color-porcelain;
    }
  }

  &__child-select-wrapper {
    background-color: white;
  }
}