@import "../../assets/variable";
@import "../../assets/modules/input-years";
@import "../../assets/task/skip-date";
@import "../../assets/mixin/switching-btn";
@import "../../components/uikit/tabs/switchItemTabs/switch-item-tabs";

.history{
  display: flex;

  &__position {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
  }

  &__spacer {
    height: 30px;
  }

  &__top-button {
    width: 600px;
  }

  &__selector {
    display: flex;
    min-width: 120px;
    width: 660px;
    background-color: white;
  }

  &__table-size {
    margin: 0 auto;
    width: 80%
  }

  &__prev-btn {
    float: left;
  }

  &__next-btn {
    float: right;
  }

}