@import "../../../../../assets/variable";

.modalWrapper {
  width: 450px;
  margin: 20px auto auto auto;
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  background-color: $color-denim;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bolder;
  padding: 0 15px 0 10px;
  margin: 20px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }
}