@import "../../../../../assets/variable";

.add-task-name-form {

  &__btn {
    display: flex;
    align-items: center;
    background-color: $color-mariner;
    color: white;
    border: none;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    font-weight: bolder;
    padding: 0 15px 0 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &:focus {
      outline: none;
    }
  }
}