@import "../../../../../assets/variable";
@import "../../../../../assets/mixin/icon-btn";
@import "../../../../../assets/mixin/operation-btn";

.assignment-task-form {
  width: 400px;
  background-color: white;
  padding: 20px 0;
  margin: 20px auto auto auto;

  &__position {
    display: flex;
    border-bottom: $task-border_color solid 1px;
    justify-content: center;
    position: relative;
    padding: 0 0 10px 0;
    margin: 0 0 25px 0;
  }

  &__btn-position{
    @include icon-btn($task-main_color, $task-border_color, $task-main_color, 0.8rem, 0.5);
    position: absolute;
    right: 0;
    margin: 0 20px 0 0;
  }

  &__title {
    color: $task-main_color;
    font-size: $task-title-font_size;
    margin: 0;
  }

  &__message {
    color: $danger-color;
    font-size: 0.85rem;
    margin: 8px 0;
  }

  &__select-contents {
    display: flex;
    &:last-child {
      margin: 0 0 30px 0;
    }

    &--key {
      width: 180px;
      color: $task-main_color;
      font-size: $task-title-font_size;
      font-weight: bold;
      margin: 0 0 25px 20px;
    }

  }

  &__operation-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    &--add {
      @include operation-btn($task-add-color, white, $task-add-color);
    }

    &--cancel {
      @include operation-btn(white, $task-main_color,$task-border_color);
      margin: 0 0 0 10px;
    }

    &--release {
      @include operation-btn($task-delete-color, white, $task-delete-color);
    }
  }
}