@import "../../../../../assets/variable";
@import "../../../../../assets/mixin/icon-btn";
@import "../../../../../assets/mixin/operation-btn";

.assignment-task-form {
  width: 400px;
  background-color: white;
  padding: 20px 0;
  margin: 20px auto auto auto;

  &__position {
    display: flex;
    border-bottom: $color-geyser solid 1px;
    justify-content: center;
    position: relative;
    padding: 0 0 10px 0;
    margin: 0 0 25px 0;
  }

  &__btn-position{
    @include icon-btn($color-lynch, $color-geyser, $color-lynch, 0.8rem, 0.5);
    position: absolute;
    right: 0;
    margin: 0 20px 0 0;
  }

  &__title {
    color: $color-lynch;
    font-size: $task-title-font_size;
    margin: 0;
  }

  &__message {
    color: $color-cinnabar;
    font-size: 0.85rem;
    margin: 8px 0;
  }

  &__select-contents {
    display: flex;
    &:last-child {
      margin: 0 0 30px 0;
    }

    &--key {
      width: 180px;
      color: $color-lynch;
      font-size: $task-title-font_size;
      font-weight: bold;
      margin: 0 0 25px 20px;
    }

  }

  &__operation-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    &--add {
      @include operation-btn($color-sushi, white, $color-sushi);
    }

    &--cancel {
      @include operation-btn(white, $color-lynch,$color-geyser);
      margin: 0 0 0 10px;
    }

    &--release {
      @include operation-btn($color-cinnabar, white, $color-cinnabar);
    }
  }
}