@import "../../../../assets/variable";

.wrapper{
  border-radius: 0.5rem;
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: $list-item-box_shadow
}

.title {
  color: $color-tundora;
  font-size: 1.2rem;
  margin: 0 0 30px;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 15px;
}

.message {
  color: $color-scorpion;
  font-size: 1.0rem;
  font-weight: bold;
  margin: 0 0 25px;
}

.addTaskBtn {
  width: calc((100% - 60px)/4);
}

.childListItem {
  width: calc((100% - (20px * 4 + 60px)) /4);
  margin-left: 20px;
  margin-bottom: 20px;
  height: 35px;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(4n + 1) {
    margin-left: 0;
  }
}

.childForm {
  width: calc((100% - (2px * 4 + 60px)) /4);
  margin-left: 20px;
  margin-bottom: 20px;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(4n + 1) {
    margin-left: 0;
  }
}