@import "../variable";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.error-indication {
  display: flex;

  &__body {
    animation: fade-in 4.5s ease-out forwards;
    animation-iteration-count: 1;
    align-items: center;
    background-color: $color-cinnabar;
    border: $color-geyser solid 2px;
    border-radius: $task-border_radius;
    color: white;
    justify-content: center;
    font-size: $medium-font_size;
    font-weight: bold;
    white-space: pre-line;
    top: 5%;
    z-index: 1000;
  }


}

