@import "../variable";

.icon--btn {
  width: 1em;
  height: 1em;
  color: $task-main_color;
  border: none;
  padding: 0;
  font-size: 1.6rem;
  flex-shrink: 0;
  cursor: pointer;


  &:hover{
    background-color: $task-border_color;
    opacity: 0.5;
    color: $task-main_color;
    border-radius: 0.8rem;
  }

  &:focus {
    outline: none;
  }
}