@import "src/assets/variable.scss";

.btn--primary {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #ff6600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: bolder;

  width: 100px;
  height: 40px;

  &:hover {
    opacity: 0.7;
  }
}
