@import "src/assets/variable.scss";

.btn--primary,
a.btn--primary {
  background-color:  #4db5fa;
  color: $white;
  cursor: pointer;
  width: 100px;
  height: 40px;
}
.btn--primary:hover,
a.btn--secondary:hover {
  background: #68c1fc;
  color: $white;

}