@import "src/assets/variable.scss";

.btn--primary {
  border: none;
  background-color: #ff6600;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  outline: none;

  width: 100px;
  height: 40px;

  &:hover {
    opacity: 0.7;
  }
}
