@import "../variable";
@import "select-years";
@import "../mixin/close-btn";
@import "../mixin/ indicate-btn";

.select-month {

  &__close-btn {
    @include close-btn($color-whiteLilac, $color-lynch);
    float: right;
  }

  &__display-btn {
    @include indicate-btn($color-dodgerBlue);
    width: 35%;

    &:hover {
      opacity: 0.8;
    }
  }

  &__month-btn {
    background-color: white;
    border: 1px solid $color-geyser;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    height: 2.5rem;
    padding: 3px 8px;
    vertical-align: middle;
    width: 20%;

    &:focus {
      outline: none;
    }
  }

  &__skip-btn {
    background-color: white;
    border: 1px solid $color-geyser;
    border-radius: $task-border_radius;
    color: $color-lynch;
    cursor: pointer;
    font-size: 1.0rem;
    padding: 5px 20px 5px 20px;
    height: 2.5rem;
    vertical-align: middle;


    &:focus {
      outline: none;
    }

    &--prev {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    &--next {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }

  &__month-box {
    background-color: $color-whiteLilac;
    border-radius: $task-border_radius;
    border: $color-geyser solid 1px;
    text-align: center;
    height:auto;
    padding: 10px;
  }

  &__month-selector {
    background-color: white;
    border: $color-geyser solid 1px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    height: 2rem;
    padding: 4px;

    &:focus {
      outline: none;
    }

    &--full {
      width: 100%;
    }

    &--middle {
      width: 20%;
    }

    &--position {
      margin: 0 auto;
      width: 30%;
    }
  }

  &__spacer {
    display: block;
    width: 100%;

    &--small {
      height: 10px;
    }

  }
}