@import "../variable";

.selector {

  &__box {
    -webkit-appearance: none;
    background-color: white;
    border: $task-border_color solid 1px;
    border-radius: 0.3rem;
    font-size: 0.8em;
    padding: 0.5em 2.0em 0.5em 0.5em;
    width: 100%;
    cursor: pointer;

    background-image:
            linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),
            linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
    background-position:
            calc(100% - 15px) 50%,
            calc(100% - 10px) 50%;
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;

    &:focus {
      outline: none;
    }
  }
}