@import "../variable.scss";

.task--btn {
  background-color: $color-porcelain;
  border: 1.5px solid $color-geyser ;
  border-radius: 0.5rem;
  color: $color-scorpion;
  cursor: pointer;
  font-family: 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 1.0rem;
  letter-spacing: 0.05em;
  padding: 3px 13px;

  &:hover{
    background-color: $color-athensGray;
  }

  &:focus {
    outline: none;
  }
}