@import "../../../../../assets/variable";
@import "../../../../../assets/mixin/icon-btn";

.task-list-item-component {
  display: flex;
  align-items: center;
  background-color: $color-zircon;
  border-radius: 0.6rem;
  padding: 5px 10px;

  &__text {
    width: 100%;
    color: $color-lynch;
    font-size: 1.2rem;
    padding: 0 0 0 10px;
  }

  &__edit-icon {
    @include icon-btn($color-lynch, $color-mariner, white, 0.2rem, 1.0);
    padding: 3px;
  }
}