@import "../../assets/variable";

.search-transaction {
  width: 70%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 20px 0;
  margin: 0 auto;

  &__back-ground {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    width: 95%;
    padding: 16px;
  }

  &__select-contents {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;

    &--key {
      width: 80%;
      color: $task-main_color;
      font-size: $task-title-font_size;
      font-weight: bold;
      margin: 0 0 40px 20px;
    }

    &--value {
      display: flex;
      width: 70%;
      margin: 0 0 0 50px;
    }
  }

  &__select-date {
    display: flex;
    align-items: center;

    &--form {
      width: 230px;
    }
  }

  &__search-button {
    margin: 0 auto;
    width: 200px;
  }

  &__parallel-form {
    display: flex;
    align-items: center;
    width: 100%;


    &__spacer {
      margin-left: 10px;
    }
  }

  &__icon {
    padding: 15px 10px 0;
  }
}