$color-iron: #e1e3e3;
$color-dodgerBlue: #19A0FB;
$color-christine: #e2750f;
$color-crusta: #ff802b;
$color-whiteLilac: #f7f9fc;
$color-cinnabar: #E74C3C;
$color-pureBlue: #0000ff;
$color-christi: #47a414;
$color-mySin: #ffba16;
$color-flamingo: #f45e36;
$color-tundora: #444444;
$color-mercury: #e7e7e7;
$color-lynch: #5D6C89;
$color-mariner: #1E77BC;
$color-geyser: #D2DADE;
$color-athensGray: #F4F5F7;
$color-zircon: #FCFDFF;
$color-cello: #253B66;
$color-sushi: #8AB23A;
$color-tropicalBlue: #D7EDFA;
$small-font-size:12px;
$middle-font-size:14px;
$medium-font_size:16px;
$large-font_size:20px;
$large-font_weight:700;
$small-spacer:20px;
$big-spacer:100px;
$section-box_shadow: 0 3px 6px rgba(44, 40, 40, 0.1);
$btn-box_shadow: 0 3px 6px rgba(44, 40, 40, 0.2);

//task-components
$task-border_radius: 0.3rem;
$task-title-font_size: 1.0rem;
