$color-iron: #e1e3e3;
$color-whiteLilac: #f7f9fc;
$color-mercury: #e7e7e7;
$color-geyser: #D2DADE;
$color-athensGray: #F4F5F7;
$color-porcelain: #fafbfc;
$color-blackSqueeze: #f5f8fb;
$color-silver: #bbb;
$color-athensGrays: #f8f9fb;
$color-regentGray: #8b979f;
$color-perano: #abb4f7;
$color-shipCove: #718abc;
$color-pureBlue: #0000ff;
$color-cello: #253b66;
$color-lynch: #7283a2;
$color-tropicalBlue: #d7edfa;
$color-mariner: #1E77BC;
$color-denim: #1780da;
$color-dodgerBlue: #19a0fb;
$color-christi: #47a414;
$color-sushi: #8ab23a;
$color-mySin: #ffba16;
$color-neonCarrot: #ff9740;
$color-crusta: #ff802b;
$color-christine: #e2750f;
$color-flamingo: #f45e36;
$color-seaPink: #eba3a3;
$color-cinnabar: #e74c3c;
$color-boulder: #757575;
$color-scorpion: #585858;
$color-tundora: #444444;
$small-font-size:12px;
$middle-font-size:14px;
$medium-font_size:16px;
$large-font_size:20px;
$large-font_weight:700;
$small-spacer:20px;
$big-spacer:100px;
$section-box_shadow: 0 3px 6px rgba(44, 40, 40, 0.1);
$btn-box_shadow: 0 3px 6px rgba(44, 40, 40, 0.2);
$list-item-box_shadow: 0 1px 6px rgba(200, 200, 200, 0.7);

//task-components
$task-border_radius: 0.3rem;
$task-title-font_size: 1.0rem;
