@import "src/assets/variable";

.bar-chart {

  &__remaining-budget{
    text-align: center;

    &__over-budget-color {
      color: #E74C3C;
    }
  }

  &__message-spacer {
    height: 90px;

    &__small {
      height: 30px;
    }
  }

  &__message-box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: $task-border_radius;
  }

  &__tooltip {
    background-color: white;
    border: 1px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 0.85rem;
    padding: 6px;
    text-align: center;


    &--empty-pie {
      font-size: 0.8rem;
    }
  }

  &__bar-chart-position {
    display: flex;
    flex-flow: column;
  }

  &__label {

    &--month {
      color: $month-bar-color;
    }

    &--week {
      color: $week-bar-color;
    }

    &--day {
      color: $day-bar-color;
    }

    &--expense {
      background-color: $light-black;
      color: white;
    }
  }

  &__pie-chart {
    margin: 0 auto;
  }

  &__amount-available {
    align-items: center;
    align-content: center;
    background-color: #ff9740;
    border: 1px solid;
    border-radius: $task-border_radius;
    color: white;
    text-align: center;
    padding: 3px;
    width: 262px;

    &--amount {
      font-size: 1.3rem;
    }

    &--arrow::after {
      top: 33px;
    }

    &--arrow:after{
      content: "";
      position: relative;
      top: 30px;
      left: -85px;
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-top: 8px solid #ff9740;
    }

    &--empty-arrow::after {
      top: 33px;
      left: -80px
    }

    &--empty-arrow:after {
      content: "";
      position: relative;
      top: 23px;
      left: -45px;
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-top: 8px solid #ff9740;
    }
  }

  &_spacer {
    height: 20px;
  }
}