@import "../../../../../../assets/variable";
@import "../../../../../../assets/mixin/check-box";

.checked-shopping-list-item-modal {
  width: 450px;
  margin: 20px auto auto auto;
  background-color: white;
  outline: none;

  &__check {
    @include check-box($task-add-color)
  }
}