@import "../../../../../../assets/mixin/check-box";

.modalWrapper {
  width: 450px;
  margin: 20px auto auto auto;
  background-color: white;
  outline: none;
}

.check {
  @include check-box($color-sushi)
}
