@import "../../../../../assets/variable";

.listByDate {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItemByDate {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.date {
  color: $color-scorpion;
  font-size: 1.0rem;
  margin: 0 0 20px 0;
}

.shoppingList {
  list-style-type: none;
  padding: 0;

  > li {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.message {
  color: $color-scorpion;
  font-size: 1.0rem;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
  margin: 0;
}

.childPurchase {
  display: inline-block;
  width: calc((100% - 100px));
}

.childAmount {
  display: inline-block;
  width: 100px;
  text-align: right;
}
