@import "../../../../../assets/variable";

.shopping-list-by-date {
  margin-top: 30px;

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-date {
    color: $task-main_color;
    font-size: 1.0rem;
    margin: 0 0 20px 0;
  }

  &__message {
    color: $task-main_color;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
}